@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

main {
  width: 50%;
  margin: 15px auto;
  text-align: center;
  background-color: #fff;

}

.books-container {
  border: 1px solid rgb(184, 182, 182);
}

.booklist {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.booklist:nth-of-type(odd){
  background-color: rgb(235, 231, 231);
}

.book{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5px;
}

.book p {
  font-weight: 300;
}

.removeBtn {
  border: none;
  color: white;
  padding: 4px 16px;
  text-align: center;
  font-size: 0.8rem;
  cursor: pointer;
  background-color: rgb(212, 15, 15);
  border-radius: 4px;
}

.removeBtn:hover {
  background-color: red;
  transition: all ease-in-out 0.2s
}

.line {
  width: 10%;
  border: 2px solid rgb(80, 79, 79);
  margin-top: 40px;
  border-radius: 2px;
}

.book-form {
  width: 60%;
  /* background-color: rebeccapurple; */
  margin: auto;
}

input{
  width: 100%;
  height: 50px;
  margin: 15px 0;
  border-radius: 3px;
}

.addBtn {
  background-color: black;
  color: white;
  padding: 8px 24px;
  float: right;
  border-radius: 2px;
  margin-top: 10px;
}