@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

main {
  width: 50%;
  margin: 15px auto;
  text-align: center;
  background-color: #fff;

}

header {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  width: 100%;
  /* margin-top: 0; */
  padding: 12px 0;
}

.heading {
  margin: 20px 0;
}

.books-container {
  border: 1px solid rgb(184, 182, 182); 
}

.booklist {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.booklist:nth-of-type(odd){
  background-color: rgb(235, 231, 231);
}

.book{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 5px;
}

.book p {
  font-weight: 300;
}


.removeBtn {
  border: none;
  color: white;
  padding: 4px 16px;
  text-align: center;
  font-size: 0.8rem;
  cursor: pointer;
  background-color: rgb(212, 15, 15);
  border-radius: 4px;
}

.removeBtn:hover {
  background-color: red;
  transition: all ease-in-out 0.2s
}

.line {
  width: 10%;
  border: 2px solid rgb(80, 79, 79);
  margin-top: 40px;
  border-radius: 2px;
}

.book-form {
  width: 60%;
  /* background-color: rebeccapurple; */
  margin: auto;
}

input{
  width: 100%;
  height: 50px;
  margin: 15px 0;
  border-radius: 3px;
}

.addBtn {
  background-color: black;
  color: white;
  padding: 8px 24px;
  float: right;
  border-radius: 2px;
  margin-top: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 50px;
}



.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links :nth-child(2) {
  border-right: solid rgb(90, 90, 90) 2px;
  border-left: solid rgb(90, 90, 90) 2px;
  padding: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.display-date {
  margin: 20px;
  display: flex;
  justify-content: right;
}

.contact-details {
  text-align: left;
}

footer {
  background-color: rgb(223, 217, 217);
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}